/* 
Designless
Jake Coppinger 2015
*/
.pageseparator {
    height: 1px;
    //height:30px !important; // Testing
    width: 100%;
    position: absolute !important;
    cursor: move;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    background-color: #202020;
    //top: 297mm;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.textbox {
    padding: 0px;
    margin: 0px;
    position: absolute !important;
    cursor: move;
    overflow: hidden;
    background: none;
    text-rendering: optimizeLegibility;
    &.overflowing {
        -webkit-animation: pulsateTextboxes 5s ease-out;
        -webkit-animation-iteration-count: infinite;
    }
    h1 {
        -webkit-margin-before: 0mm;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: inherit; // Override Semantic UI
    }
}

#paper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    /*
    height: 297mm;
    width: 210mm;
    */
    width: 210mm;
    //height:297mm; //="{{297 * pages}}mm"
    padding: 0px;
    position: relative; // THIS IS IMPORTANT
}

#designcontainer .ui.segment {
    //color: blue;
}

#designcontainer {
    width: 100%;
    text-align: left;
}

#paper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin: 0 auto;
    //width:100px;
    height: 20px;
    //background: #00ff00;
}

#designleft {
    float: left;
    //max-width: 20em;
    //width:100px;
    //height: 20px;
    //background: #ff0000;
    margin-right: 0;
}

#designright {
    float: right;
    //width:100px;
    //height: 20px;
    //background: #0000ff;
    margin-left: 0;
}

.side-panel {
    // Where the 3em is the side padding on each segment
    //width: calc((100% - 210mm) / 2 - 3em);
    margin: 0 2em;
}

@media (max-width: 80em) {
    .side-panel {
        width: 210mm;
        max-width: none;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }
    #paper {
        margin-top: 1em;
    }
}

@media (max-width: 210mm) {
    .side-panel {
        width: calc(100% - 3em);
        max-width: none;
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }
}

.inlineheader {
    display: inline;
    margin-right: 1em;
}