#paper {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#paper {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-rendering: optimizeLegibility;
        font-size: inherit;
        line-height: inherit;
    }
    /**
 *
    Paragraphs
 *
 */
    p {
        margin: 0 0 1.5em;
        line-height: inherit;
    }
    /**
 *
    Block quotes
 *
 */
    blockquote {
        margin: 0 0 1.5em;
        width: 96%;
        padding: 0 10px;
        border-left: 3px solid #ddd;
        color: #777;
    }
    /**
 *
    Code Blocks
 *
 */
    pre code {
        word-wrap: normal;
        white-space: pre-wrap;
        border: none;
        padding: 0;
        background-color: transparent;
        -webkit-border-radius: 0;
    }
    pre {
        white-space: pre-wrap;
        width: 96%;
        margin-bottom: 24px;
        overflow: hidden;
        padding: 3px 10px;
        -webkit-border-radius: 3px;
        background-color: #eee;
        border: 1px solid #ddd;
    }
    code {
        white-space: nowrap;
        font-family: monospace;
        padding: 2px;
        -webkit-border-radius: 3px;
        background-color: #eee;
        border: 1px solid #ddd;
    }
    small {
        font-size: 65%;
    }
    /**
 *
    Dictionary Definition
 *
 */
    dt {
        display: inline;
        font-weight: bold;
    }
    dd {
        display: block;
    }
    /**
 *
    Anchors
 *
 */
    a {
        color: #308bd8;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    /**
 *
    Horizontal rules
 *
 */
    hr {
        width: 100%;
        margin: 3em auto;
        border: 0;
        color: #eee;
        background-color: #ccc;
        height: 1px;
        -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    }
    /**
 *
    Lists
 *
 */
    ol,
    ul {
        list-style-position: outside;
        padding-left: 0;
        margin-left: 1.5em;
    }
    ol li,
    ul li {
        text-align: -webkit-match-parent;
    }
    li p {
        margin: 0.5em 0 0.5em;
    }
    ol ol,
    ol ul,
    ul ul,
    ul ol {
        padding-left: 1.5em;
    }
    /**
 *
    Tables
 *
 */
    table {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-spacing: 0;
    }
    table th {
        padding: 3px 10px;
        background-color: #eee;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
    table tr {}
    table td {
        padding: 3px 10px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
    /**
 *
    Images
 *
 */
    img {
        border: none;
        display: block;
        margin: 1em auto;
        max-width: 100%;
    }
    /**
 *
    Marks
 *
 */
    mark {
        background: #fefec0;
        padding: 1px 3px;
    }
    /**
 *
    Footnotes
 *
 */
    .footnote {
        font-size: 0.8rem;
        vertical-align: super;
    }
    .footnotes ol {
        font-weight: bold;
    }
    .footnotes ol li {
        text-align: -webkit-match-parent;
    }
    .footnotes ol li p {
        font-weight: normal;
    }
    /**
 *
    Figures and Captions
 *
 */
    caption {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
    figure {
        display: block;
        text-align: center;
    }
    figcaption {
        font-size: 0.8rem;
        font-style: italic;
    }
}