/* 
Designless
Jake Coppinger 2015
*/

@media print {
    #paper {
        margin: 0px !important;
        padding: 0px !important;

        // This hides the pesky toggle buttons
        z-index: 2;

        position:absolute;
        top:0px;
        left:0px;
    }

    // Hide the box edges
    .ui-widget-content {
        border: none !important;
        transition: background 0.25s ease;
    }

    // Hide the resize handles
    .ui-resizable-handle {
    	display:none !important; 
    }

    .pageseparator {
    	display:none;
    }
}

