.pageseparator {
  height: 1px;
  width: 100%;
  position: absolute !important;
  cursor: move;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  background-color: #202020;
  z-index: 1;
  box-shadow: 0 0 10px black; }

.textbox {
  padding: 0px;
  margin: 0px;
  position: absolute !important;
  cursor: move;
  overflow: hidden;
  background: none;
  text-rendering: optimizeLegibility; }
  .textbox.overflowing {
    -webkit-animation: pulsateTextboxes 5s ease-out;
    -webkit-animation-iteration-count: infinite; }
  .textbox h1 {
    -webkit-margin-before: 0mm; }
  .textbox h1, .textbox h2, .textbox h3, .textbox h4, .textbox h5 {
    font-family: inherit; }

#paper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  /*
    height: 297mm;
    width: 210mm;
    */
  width: 210mm;
  padding: 0px;
  position: relative; }

#designcontainer {
  width: 100%;
  text-align: left; }

#book {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  height: 20px; }

#designleft {
  float: left;
  margin-right: 0; }

#designright {
  float: right;
  margin-left: 0; }

.side-panel {
  width: calc((100% - 210mm) / 2 - 3em);
  margin: 0 2em; }

@media (max-width: 83em) {
  .side-panel {
    width: calc(210mm / 2 - 3em);
    max-width: none; }
  #side-panel-container {
    width: 100%;
    max-width: 210mm;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 210mm) {
  .side-panel {
    width: calc(100% - 3em);
    max-width: none;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important; } }
