body {
  background: #202020; }

.ui.menu .item {
  font-family: 'Open Sans'; }

.ui.blue.button,
.ui.blue.buttons .button {
  color: #04A9F4; }

.ui.inverted.menu .active.item {
  background: 0 0; }
  .ui.inverted.menu .active.item:hover {
    background: #173039; }

.color-picker-wrapper.color-picker-swatch-only .color-picker-input {
  opacity: 0;
  cursor: pointer; }

.stylebox .ui.labeled.input > .label:not(.corner) {
  padding-top: 0.9em; }

.stylebox .colorpicker .ui.label.colorpicker {
  padding: 0.2em 0.2em !important; }

.stylebox .colorpicker.ui.labeled.input > .label:not(.corner) {
  padding-bottom: 0px !important; }

.ui.slider.range input[type="range"] {
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 50rem;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 3px 5px; }

.ui.slider.range input[type="range"]::-moz-range-track {
  background: none;
  border: none; }

.ui.slider.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #525252;
  border-radius: 50rem;
  height: 0.7em;
  width: 0.7em; }

.ui.slider.range input[type="range"]::-moz-range-thumb {
  background: #525252;
  border-color: #525252;
  border-radius: 50rem;
  height: 0.7em;
  width: 0.7em; }
