.page {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  /**
 *
    Paragraphs
 *
 */
  /**
 *
    Block quotes
 *
 */
  /**
 *
    Code Blocks
 *
 */
  /**
 *
    Dictionary Definition
 *
 */
  /**
 *
    Anchors
 *
 */
  /**
 *
    Horizontal rules
 *
 */
  /**
 *
    Lists
 *
 */
  /**
 *
    Tables
 *
 */
  /**
 *
    Images
 *
 */
  /**
 *
    Marks
 *
 */
  /**
 *
    Footnotes
 *
 */
  /**
 *
    Figures and Captions
 *
 */ }
  .page h1,
  .page h2,
  .page h3,
  .page h4,
  .page h5,
  .page h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin: 0.5rem 0; }
  .page h1,
  .page h2,
  .page h3,
  .page h4,
  .page h5,
  .page h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin: 0.5rem 0; }
  .page h1,
  .page h2,
  .page h3 {
    margin-bottom: 1rem; }
  .page h1 {
    font-size: 2.75rem; }
  .page h2 {
    font-size: 2.25rem; }
  .page h3 {
    font-size: 1.75rem; }
  .page h4 {
    font-size: 1.25rem; }
  .page h5 {
    font-size: 1.00rem; }
  .page h6 {
    font-size: 0.85rem; }
  .page p {
    margin: 0 0 1.5em; }
  .page blockquote {
    margin: 0 0 1.5em;
    width: 96%;
    padding: 0 10px;
    border-left: 3px solid #ddd;
    color: #777; }
  .page pre code {
    word-wrap: normal;
    white-space: pre-wrap;
    border: none;
    padding: 0;
    background-color: transparent;
    -webkit-border-radius: 0; }
  .page pre {
    white-space: pre-wrap;
    width: 96%;
    margin-bottom: 24px;
    overflow: hidden;
    padding: 3px 10px;
    -webkit-border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ddd; }
  .page code {
    white-space: nowrap;
    font-family: monospace;
    padding: 2px;
    -webkit-border-radius: 3px;
    background-color: #eee;
    border: 1px solid #ddd; }
  .page small {
    font-size: 65%; }
  .page dt {
    display: inline;
    font-weight: bold; }
  .page dd {
    display: block; }
  .page a {
    color: #308bd8;
    text-decoration: none; }
  .page a:hover {
    text-decoration: underline; }
  .page hr {
    width: 100%;
    margin: 3em auto;
    border: 0;
    color: #eee;
    background-color: #ccc;
    height: 1px;
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75); }
  .page ol,
  .page ul {
    list-style-position: outside;
    padding-left: 0;
    margin-left: 1.5em; }
  .page ol li,
  .page ul li {
    text-align: -webkit-match-parent; }
  .page li p {
    margin: 0.5em 0 0.5em; }
  .page ol ol,
  .page ol ul,
  .page ul ul,
  .page ul ol {
    padding-left: 1.5em; }
  .page table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-spacing: 0; }
  .page table th {
    padding: 3px 10px;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd; }
  .page table td {
    padding: 3px 10px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd; }
  .page img {
    border: none;
    display: block;
    margin: 1em auto;
    max-width: 100%; }
  .page mark {
    background: #fefec0;
    padding: 1px 3px; }
  .page .footnote {
    font-size: 0.8rem;
    vertical-align: super; }
  .page .footnotes ol {
    font-weight: bold; }
  .page .footnotes ol li {
    text-align: -webkit-match-parent; }
  .page .footnotes ol li p {
    font-weight: normal; }
  .page caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px; }
  .page figure {
    display: block;
    text-align: center; }
  .page figcaption {
    font-size: 0.8rem;
    font-style: italic; }
