<br>
<div class="ui center aligned grid">
    <div class="ui pointing secondary demo menu inverted">
        <a class="white item" data-tab="write">Write</a>
        <a class="active white item" data-tab="design">Design</a>
    </div>
</div>
<br>
<div class="ui tab" data-tab="write">
    <div class="ui text container">
        <div class="markdownpage">
            <textarea id="markdowninput">
                <!-- This textarea is used by SimpleMDE Markdown editor -->
                {{markdowninput}}
            </textarea>
        </div>
    </div>
</div>
<div class="ui tab active" data-tab="design">
    <div id="designcontainer">
        <div id="side-panel-container">
            <div id="designleft" class="side-panel">
                <div ng-repeat="(stylename,style) in styles">
                    <div class="ui segment stylebox">
                        <h2>{{stylename}}</h2>
                        <p>Font: {{style.font}}</p>
                        <p>Color:</p>
                        <color-picker ng-model="style.textcolor" color-picker-format="'rgb'" color-picker-swatch="true" color-picker-swatch-only="true" color-picker-swatch-bootstrap="false"></color-picker>
                    </div>
                </div>
                <div class="ui segment stylebox">
                    <h2>Style 1</h2>
                </div>
            </div>
            <div id="designright" class="side-panel">
                <div class="ui segment stylebox">
                    <h2>Options 1</h2>
                </div>
                <div class="ui segment stylebox">
                    <h2>Options 2</h2>
                </div>
            </div>
        </div>
        <div id="designcenter">
            <div id="page1" class="page">

                <!--
                <div ng-repeat="(heading,box) in boxes">
                    <div drag-box ng-bind-html="box.content | to_trusted">
                    </div>
                </div>
            -->
                <!--
                <div drag-me>
                    <p>Hello there</p>
                </div>
                -->
            </div>
        </div>
    </div>
</div>