
@font-face {
  font-family: 'GrandesignNeueSerif';
  src: url('GrandesignNeueSerif.eot?#iefix') format('embedded-opentype'),  url('GrandesignNeueSerif.woff') format('woff'), url('GrandesignNeueSerif.ttf')  format('truetype'), url('GrandesignNeueSerif.svg#GrandesignNeueSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}
